
:root{

    --gold:#C89B3C;
    --gold-hover:#B88A2D;

    --black:#0B0B0B;
    --card:#141414;

    --white:#ffffff;

    --border:#2b2b2b;

}


*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    min-height:100vh;

    background:

    linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.85)
    ),

    url("../images/levelz-cut-hero-banner-3.png");


    background-size:cover;

    background-position:center;

    font-family:'Inter',sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

}


.login-wrapper{

    width:100%;

    /*padding:20px;*/

    min-height:100vh;
    padding:40px;
    display:flex;
    justify-content:flex-start; /* Move card to the left */
    align-items:center;         /* Keep it vertically centered */

}


.login-card{

    width:min(420px,100%);

    margin-left: 80px;

    background:rgba(20,20,20,.95);

    border:1px solid var(--gold);

    border-radius:20px;

    padding:45px 35px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.5);

}



.brand{

    text-align:center;

    margin-bottom:35px;

}


.brand i{

    color:var(--gold);

    font-size:45px;

}


.brand h1{

    margin-top:10px;

    color:var(--gold);

    font-family:'Poppins',sans-serif;

}


.brand p{

    color:#aaa;

    margin-top:5px;

}



.input-group{

    display:flex;

    align-items:center;

    gap:12px;

    border:1px solid var(--border);

    border-radius:12px;

    padding:0 15px;

    margin-bottom:20px;

    background:#0f0f0f;

}


.input-group i{

    color:var(--gold);

}



.input-group input{

    width:100%;

    background:none;

    border:none;

    outline:none;

    padding:15px 0;

    color:white;

    font-size:1rem;

}


.login-btn{

    width:100%;

    padding:15px;

    border-radius:999px;

    border:2px solid var(--gold);

    background:var(--gold);

    color:#111;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}


.login-btn:hover{

    background:transparent;

    color:var(--gold);

}



#loginMessage{

    text-align:center;

    margin-top:20px;

    color:#dc2626;

    font-size:.9rem;

}



@media(max-width:480px){


.login-card{

    padding:35px 25px;

}


}